<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Phần mềm quản lý trường học</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="../CSS/common/common.css" rel="stylesheet" />
    <link href="../CSS/Views/supplier.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <!-- Header -->
        <div class="header">
            <!-- Top header -->
            <div class="top-header">
                <div class="main-logo float-left"></div>
                <div class="logo-text float-left">- Thư viện</div>
                <div class="expand-icon float-left">
                    <i class="fas fa-caret-down"></i>
                </div>
                <ul class="user-content float-right">
                    <a class="float-left">
                        Trường liên cấp MISA - admin
                        <i style="padding: 0 3px;" class="fas fa-caret-down"></i>
                    </a>
                    <img height="16" style="padding: 0 3px;" alt="Alt" class="float-left" src="http://thptmisa1.demo.qlth.vn/Library/Content/Css/Main/Image/Icon/Help16.png">
                </ul>
            </div>
            <!-- Menu header -->
            <div class="menu-header float-left">
                <div class="menu-box-item-header float-left">
                    <div class="menu-item-header">
                        <span class="text">Bàm làm việc</span>
                    </div>
                    <div class="menu-item-header">
                        <span class="text">
                            Sách
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                    <div class="menu-item-header">
                        <span class="text">
                            Báo, Tạp chí
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                    <div class="menu-item-header">
                        <span class="text">
                            Lưu thông
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                    <div class="menu-item-header">
                        <span class="text">Bạn đọc</span>
                    </div>
                    <div class="menu-item-header">
                        <span class="text">
                            Danh mục
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                    <div class="menu-item-header">
                        <span class="text">
                            Thiết lập
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                    <div class="menu-item-header">
                        <span class="text">Báo cáo</span>
                    </div>
                </div>
                <span class="year-label float-right">
                    Năm học:
                    <span class="current-select">
                        2018 - 2019
                        <i style="padding-left:2px; padding-right:4px;" class="fas fa-angle-down"></i>
                    </span>
                </span>
            </div>
        </div>
        <!-- Content -->
        <div class="content">
            <div  class="title">
                <label>Danh sách nhà cung cấp</label>
            </div>
            <!-- Tool bar -->
            <div class="toolbar">
                <div id="btnAdd" class="toolbar-item">
                    <div class="toolbar-item-icon icon-add"></div>
                    <div class="toolbar-item-text">Thêm</div>
                </div>
                <div id="btnEdit" class="toolbar-item">
                    <div class="toolbar-item-icon icon-edit"></div>
                    <div class="toolbar-item-text">Sửa</div>
                </div>
                <div id="btnDelete" class="toolbar-item">
                    <div class="toolbar-item-icon icon-delete"></div>
                    <div class="toolbar-item-text">Xóa</div>
                    <input id="index" type="hidden" />
                </div>
                <div id="btnSave" class="toolbar-item" style="border-right: 1px solid #bbcadb;">
                    <div class="toolbar-item-icon icon-refresh"></div>
                    <div class="toolbar-item-text">Nạp</div>
                </div>
                <div id="btnHelp" class="toolbar-item">
                    <div class="toolbar-item-icon icon-help"></div>
                    <div class="toolbar-item-text">Giúp</div>
                </div>
            </div>
            <!-- Grid header -->
            <div class="grid-header">
                <div class=""></div>
            </div>
            <!-- Grid view -->
            <div class="grid">
                <table id="tblCustomer" border="1" recordId="CustomerID">
                    <thead>
                        <tr>
                            <th>
                                <div fieldData="CustomerID">
                                    <div class="column-title">STT</div>
                                    <div class="column-filter">
                                        <div class="filter-option"></div>
                                        <input class="filter-input" />
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div fieldData="CustomerCode">
                                    <div class="column-title">Mã thẻ</div>
                                    <div class="column-filter">
                                        <div class="filter-option"></div>
                                        <input class="filter-input" />
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div fieldData="CustomerName">
                                    <div class="column-title">Tên bạn đọc</div>
                                    <div class="column-filter">
                                        <div class="filter-option"></div>
                                        <input class="filter-input" />
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div fieldData="CustomerClass">
                                    <div class="column-title">Lớp</div>
                                    <div class="column-filter">
                                        <div class="filter-option"></div>
                                        <input class="filter-input" />
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div fieldData="GenderName">
                                    <div class="column-title">Giới tính</div>
                                    <div class="column-filter">
                                        <div class="filter-option"></div>
                                        <input class="filter-input" />
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div fieldData="Birthday" dataType="Date">
                                    <div class="column-title">Ngày sinh</div>
                                    <div class="column-filter">
                                        <div class="filter-option"></div>
                                        <input class="filter-input" />
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div fieldData="DateAllocated" dataType="Date">
                                    <div class="column-title">Ngày cấp</div>
                                    <div class="column-filter">
                                        <div class="filter-option"></div>
                                        <input class="filter-input" />
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div fieldData="Effect" dataType="Date">
                                    <div class="column-title">Hiệu lực</div>
                                    <div class="column-filter">
                                        <div class="filter-option"></div>
                                        <input class="filter-input" />
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div fieldData="DateExpired" dataType="Date">
                                    <div class="column-title">Ngày hết hạn</div>
                                    <div class="column-filter">
                                        <div class="filter-option"></div>
                                        <input class="filter-input" />
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>


        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>