<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Phần mềm quản lý trường học</title>
    <link href="../CSS/lib/bootstrap.min.css" rel="stylesheet" />
    <link href="../CSS/lib/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="../CSS/common/common.css" rel="stylesheet" />
    <link href="../CSS/Views/supplier.css" rel="stylesheet" />
    <link href="../CSS/common/dialog.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <!-- Header -->
        <!-- Created by BQLINH (28/4/2019) -->
        <div class="header">
            <!-- Top header -->
            <!-- Created by BQLINH (28/4/2019) -->
            <div class="top-header">
                <div class="main-logo float-left"></div>
                <div class="logo-text float-left">- Thư viện</div>
                <div class="expand-icon float-left">
                    <i class="fas fa-caret-down"></i>
                </div>
                <ul class="user-content float-right">
                    <a class="float-left">
                        Trường liên cấp MISA - admin
                        <i style="padding: 0 3px;" class="fas fa-caret-down"></i>
                    </a>
                    <img height="16" style="padding: 0 8px 0 0;" alt="Alt" class="float-left" src="http://cdn.qlth.vn/Library/Content/Css/Main/image/icon/help16.png" />
                </ul>
            </div>
            <!-- Menu header -->
            <!-- Created by BQLINH (28/4/2019) -->
            <div class="menu-header float-left">
                <div class="menu-box-item-header float-left">
                    <div class="menu-item-header">
                        <span class="text">Bàm làm việc</span>
                    </div>
                    <div class="menu-item-header">
                        <span class="text">
                            Sách
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                    <div class="menu-item-header">
                        <span class="text">
                            Báo, Tạp chí
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                    <div class="menu-item-header">
                        <span class="text">
                            Lưu thông
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                    <div class="menu-item-header">
                        <span class="text">Bạn đọc</span>
                    </div>
                    <div class="menu-item-header">
                        <span class="text">
                            Danh mục
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                    <div class="menu-item-header">
                        <span class="text">
                            Thiết lập
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                    <div class="menu-item-header">
                        <span class="text">Báo cáo</span>
                    </div>
                </div>
                <span class="year-label float-right">
                    Năm học:
                    <span class="current-select">
                        2018 - 2019
                        <i style="padding-left:2px;padding-right:8px;" class="fas fa-angle-down"></i>
                    </span>
                </span>
            </div>
        </div>
        <!-- Content -->
        <div class="content">
            <div class="title">
                <label>Danh sách nhà cung cấp</label>
            </div>
            <!-- Tool bar -->
            <div class="toolbar">
                <div id="btnAdd" class="toolbar-item">
                    <div class="toolbar-item-icon icon-add"></div>
                    <div class="toolbar-item-text">Thêm</div>
                </div>
                <div id="btnEdit" class="toolbar-item">
                    <div class="toolbar-item-icon icon-edit"></div>
                    <div class="toolbar-item-text">Sửa</div>
                </div>
                <div id="btnDelete" class="toolbar-item">
                    <div class="toolbar-item-icon icon-delete"></div>
                    <div class="toolbar-item-text">Xóa</div>
                </div>
                <div id="btnSave" class="toolbar-item">
                    <div class="toolbar-item-icon icon-refresh"></div>
                    <div class="toolbar-item-text">Nạp</div>
                </div>
                <div class="separator"></div>
                <div id="btnHelp" class="toolbar-item">
                    <div class="toolbar-item-icon icon-help"></div>
                    <div class="toolbar-item-text">Giúp</div>
                </div>
            </div>
            <!--Grid-->
            <!-- Created by BQLINH (1/5/2019) -->
            <div class="grid">
                <!-- Grid header -->
                <!-- Created by BQLINH (1/5/2019) -->
                <div class="grid-header">
                    <div class="grid-header-item-1">
                        <div class="column-title" style="border-bottom:none;">STT</div>
                    </div>
                    <div class="grid-header-item-2">
                        <div class="column-title">Mã nhà cung cấp</div>
                        <div class="column-filter">
                            <div class="filter-option">
                                <div class="filter-option-right"><span><i style="padding: 0 3px;" class="fas fa-caret-down"></i></span></div>
                                <div class="filter-option-middle"><span class="separator"></span></div>
                                <div class="filter-option-left">
                                    <span>* :</span>
                                </div>
                            </div>
                            <div class="filter-input">
                                <input type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="grid-header-item-3">
                        <div class="column-title">Tên nhà cung cấp</div>
                        <div class="column-filter">
                            <div class="filter-option">
                                <div class="filter-option-right"><span><i style="padding: 0 3px;" class="fas fa-caret-down"></i></span></div>
                                <div class="filter-option-middle"><span class="separator"></span></div>
                                <div class="filter-option-left">
                                    <span>* :</span>
                                </div>
                            </div>
                            <div class="filter-input">
                                <input type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="grid-header-item-3">
                        <div class="column-title">Địa chỉ</div>
                        <div class="column-filter">
                            <div class="filter-option">
                                <div class="filter-option-right"><span><i style="padding: 0 3px;" class="fas fa-caret-down"></i></span></div>
                                <div class="filter-option-middle"><span class="separator"></span></div>
                                <div class="filter-option-left">
                                    <span>* :</span>
                                </div>
                            </div>
                            <div class="filter-input">
                                <input type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="grid-header-item-2">
                        <div class="column-title">Mã số thuế</div>
                        <div class="column-filter">
                            <div class="filter-option">
                                <div class="filter-option-right"><span><i style="padding: 0 3px;" class="fas fa-caret-down"></i></span></div>
                                <div class="filter-option-middle"><span class="separator"></span></div>
                                <div class="filter-option-left">
                                    <span>* :</span>
                                </div>
                            </div>
                            <div class="filter-input">
                                <input type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="grid-header-item-3">
                        <div class="column-title">Ghi chú</div>
                        <div class="column-filter">
                            <div class="filter-option">
                                <div class="filter-option-right"><span><i style="padding: 0 3px;" class="fas fa-caret-down"></i></span></div>
                                <div class="filter-option-middle"><span class="separator"></span></div>
                                <div class="filter-option-left">
                                    <span>* :</span>
                                </div>
                            </div>
                            <div class="filter-input">
                                <input type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="grid-header-item-2" style="border:none;">
                        <div class="column-title">Sử dụng</div>
                        <div class="column-filter">
                            <div class="filter-option" style="width:calc(100% - 9px);">
                                <div class="filter-option-right"><span><i style="padding: 0 3px;" class="fas fa-caret-down"></i></span></div>
                                <div class="filter-option-middle"><span class="separator"></span></div>
                                <div class="filter-option-left" style="font-weight:normal;margin:0 auto;">
                                    <span>Bỏ lọc</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid view -->
                <!-- Created by BQLINH (1/5/2019) -->
                <div class="grid-view">
                    <div class="data-item-row">
                        <div class="data-item-1">
                            <span>1</span>
                        </div>
                        <div class="data-item-2">
                            <span>NCC001</span>
                        </div>
                        <div class="data-item-3">
                            <span>Công ty in văn hóa Sài Gòn</span>
                        </div>
                        <div class="data-item-3">
                            <span>754 Hàm Tử, Phường 5, Quận 5, HCM</span>
                        </div>
                        <div class="data-item-2">
                            <span>8207604443</span>
                        </div>
                        <div class="data-item-3">
                            <span></span>
                        </div>
                        <div class="data-item-2" style="border-right:none;">
                            <input type="checkbox" name="name" value="" />
                        </div>
                    </div>
                    <div class="data-item-row">
                        <div class="data-item-1">
                            <span>1</span>
                        </div>
                        <div class="data-item-2">
                            <span>NCC001</span>
                        </div>
                        <div class="data-item-3">
                            <span>Công ty in văn hóa Sài Gòn</span>
                        </div>
                        <div class="data-item-3">
                            <span>754 Hàm Tử, Phường 5, Quận 5, HCM</span>
                        </div>
                        <div class="data-item-2">
                            <span>8207604443</span>
                        </div>
                        <div class="data-item-3">
                            <span></span>
                        </div>
                        <div class="data-item-2" style="border-right:none;">
                            <input type="checkbox" name="name" value="" />
                        </div>
                    </div>
                    <div class="data-item-row">
                        <div class="data-item-1">
                            <span>1</span>
                        </div>
                        <div class="data-item-2">
                            <span>NCC001</span>
                        </div>
                        <div class="data-item-3">
                            <span>Công ty in văn hóa Sài Gòn</span>
                        </div>
                        <div class="data-item-3">
                            <span>754 Hàm Tử, Phường 5, Quận 5, HCM</span>
                        </div>
                        <div class="data-item-2">
                            <span>8207604443</span>
                        </div>
                        <div class="data-item-3">
                            <span></span>
                        </div>
                        <div class="data-item-2" style="border-right:none;">
                            <input type="checkbox" name="name" value="" />
                        </div>
                    </div>
                    <div class="data-item-row">
                        <div class="data-item-1"><span></span></div>
                        <div class="data-item-2"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-2"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-2" style="border-right:none;">
                        </div>
                    </div>
                    <div class="data-item-row">
                        <div class="data-item-1"><span></span></div>
                        <div class="data-item-2"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-2"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-2" style="border-right:none;">
                        </div>
                    </div>
                    <div class="data-item-row">
                        <div class="data-item-1"><span></span></div>
                        <div class="data-item-2"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-2"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-2" style="border-right:none;">
                        </div>
                    </div>
                    <div class="data-item-row">
                        <div class="data-item-1"><span></span></div>
                        <div class="data-item-2"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-2"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-2" style="border-right:none;">
                        </div>
                    </div>
                    <div class="data-item-row">
                        <div class="data-item-1"><span></span></div>
                        <div class="data-item-2"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-2"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-2" style="border-right:none;">
                        </div>
                    </div>
                    <div class="data-item-row">
                        <div class="data-item-1"><span></span></div>
                        <div class="data-item-2"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-2"><span></span></div>
                        <div class="data-item-3"><span></span></div>
                        <div class="data-item-2" style="border-right:none;">
                        </div>
                    </div>
                </div>
                <!-- Grid footer -->
                <!-- Created by BQLINH (1/5/2019) -->
                <div class="grid-footer">
                    <div class="grid-footer-left">
                        <span class="go-to-first-page icon-change-page"></span>
                        <span class="go-to-before-page icon-change-page"></span>
                        <span class="separator"></span>
                        <span>Trang</span>
                        <span class="current-display-record"><input type="text" name="name" value="1" /></span>
                        <span class="total-record">trên 2</span>
                        <span class="go-to-after-page icon-change-page"></span>
                        <span class="go-to-last-page icon-change-page"></span>
                        <span class="separator"></span>
                        <span>Số bản ghi</span>
                        <span class="number-display-record"><input type="text" name="name" value="50" /></span>
                        <div class="dropdown-icon"></div>
                    </div>
                    <div class="grid-footer-right float-right">
                        <span>Hiển thị 1 - 50 trên 100 kết quả</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dialog đăng ký bạn đọc -->
    <!-- Created by BQLINH (5/5/2019) -->
    <div class="dlgResgisterReader" title="Đăng ký bạn đọc" style="display:none;">
        <div class="dialog-content">
            <div class="dialog-left  float-left">
                <div class="avatar"></div>
                <div class="avatar-change">
                    <a href="#" style="color:blue; text-decoration:none; outline:none;">Thay ảnh khác</a>
                    <!--<input type="file" id="avatar-change-file" name="name" value="" />-->
                </div>
            </div>
            <div class="dialog-right float-left">
                <div class="lblTitle"><label>THÔNG TIN BẠN ĐỌC</label></div>
                <div class="dlgRow">
                    <div class="col-type-1"><label>Họ và đệm <span style="color:red;">(*)</span></label></div>
                    <div class="col-type-5"><input type="text" id="txtFirstAndMiddleName" class="required" value="Bùi Quang " /></div>
                    <div class="col-type-2 secondlable"><label>Tên <span style="color:red;">(*)</span></label></div>
                    <div class="col-type-6"><input type="text" id="txtLastName" class="required" value="Linh" /></div>
                    <div class="col-type-3 secondlable"><label>Họ và tên</label></div>
                    <div class="col-type-flex"><input type="text" disabled id="txtFullName" value="Bùi Quang Linh" /></div>
                </div>
                <div class="dlgRow">
                    <div class="col-type-1"><label>Lớp <span style="color:red;">(*)</span></label></div>
                    <div class="col-type-5"><input type="text" id="class" name="class" /></div>
                    <div class="col-type-2 secondlable"><label>Giới tính</label></div>
                    <div class="col-type-6">
                        <input style="float: left; width: calc(100% - 17px);" type="text" name="name" />
                        <div class="dropdown-icon"></div>
                    </div>
                    <div class="col-type-3 secondlable"><label>Ngày sinh</label></div>
                    <div class="col-type-5">
                        <input style="float: left; width: calc(100% - 26px);" type="text" id="txtBirthday" name="Birthday" />
                        <div class="date-pick"><div class="date-pick-icon "></div></div>
                    </div>
                </div>
                <div class="dlgRow">
                    <div class="col-type-1"><label>Địa chỉ</label></div>
                    <div class="col-type-flex"><input type="text" id="txtAddress" /></div>
                </div>
                <div class="lblTitle"><label>THÔNG TIN THẺ</label></div>
                <div class="dlgRow">
                    <div class="col-type-1"><label>Mã thẻ</label></div>
                    <div class="col-type-5"><input type="text" id="txtCardCode" /></div>
                    <div class="col-type-4 secondlable"><label>Ngày cấp</label></div>
                    <div class="col-type-5">
                        <input style="float: left; width: calc(100% - 26px);" type="text" id="txtlicensedDate" />
                        <div class="date-pick"><div class="date-pick-icon"></div></div>
                    </div>
                </div>
                <div class="dlgRow">
                    <div class="col-type-1"><label>Ngày hiệu lực</label></div>
                    <div class="col-type-5">
                        <input style="float: left; width: calc(100% - 26px);" type="text" id="txtEffectDate" />
                        <div class="date-pick"><div class="date-pick-icon"></div></div>
                    </div>
                    <div class="col-type-4 secondlable"><label>Ngày hết hạn</label></div>
                    <div class="col-type-5">
                        <input style="float: left;width: calc(100% - 26px);" type="text" id="txtExpireDate" />
                        <div class="date-pick"><div class="date-pick-icon"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script src="../Scripts/lib/jquery-3.3.1.min.js"></script>
    <script src="../Scripts/lib/jquery-ui.min.js"></script>
    <script src="../Scripts/base/dialog.js"></script>
    <script src="../Scripts/Views/supplier.js"></script>
</body>
</html>